* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    margin: auto;
    font-family: "Open Sans",
    sans-serif; 
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.3;
  }

  /* main html */

  header{
      min-width: 300px;
      text-align: center;
      margin: auto;
  }

  #main_img{
      height: 150px;
      background: url("./imgs/rings.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

#main_img > h1{
    color: green;
}

#welcome > h2{
    color: green;
}

  #links > span {
      text-decoration: underline;
  }

  #olympians > p {
      text-decoration: underline;
  }

 
  /* main html */

/*team html*/
#team_list{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

 #usa_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
 }
 #mexico_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
}
#australia_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
}
#brazil_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
}
#germany_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
}
#italy_box{
    border-left: solid  black 1px;
    border-bottom: solid  black 1px;
    border-right: solid  black 1px;
    max-width: 400px;
    max-height: 400px;
}

.team_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.usa_flag{
    background: url("./imgs/usa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mexico_flag{
    background: url("./imgs/mexico.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.australia_flag{
    background: url("./imgs/australia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.brazil_flag{
    background: url("./imgs/brazil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.germany_flag{
    background: url("./imgs/germany.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.italy_flag{
    background: url("./imgs/italy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*team html*/

/*event html*/

.game_box{
    border-bottom: solid black 1px;
}

/*event html*/



  #footer{
      border-top: solid  black 1px;
      width: 100%;
  }

  @media only screen and (max-width: 550px){
    #team_list{
        max-width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
  }
